<% flash.each do |type, msg| %>
  <% if flash[:success] %>
    <div class="max-w-sm mx-auto bg-green-100 border-l-4 border-green-500 text-green-700 p-4">
      <p class="font-bold"> Success </p>
      <p> <%= msg %> </p>
    </div>
  <% end %>

  <% if flash[:error] %>
    <div class="max-w-sm mx-auto">
      <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
        Danger
      </div>
      <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
        <p> <%= msg %> </p>
      </div>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="max-w-sm mx-auto bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4">
      <p class="font-bold"> Alert </p>
      <p> <%= msg %> </p>
    </div>
  <% end %>
<% end %>